@page
@model StyleMate.Pages.EditModel
@{
}


<h1>Edit Clothing Item</h1>

<form method="post">
    <input asp-for="ClothingItem.Id" type="hidden" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="ClothingItem.Name" type="text" class="form-control" id="Name"/>
    </div>
    <div class="form-group mb-3">
        <label for="Type" class="form-label">Type</label>
        <select asp-for="ClothingItem.Type" asp-items="Model.ClothingTypes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="Color">Color</label>
        <input asp-for="ClothingItem.Color" type="text" class="form-control" id="Color"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

